@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/*
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/

/* Enable dark mode */
.dark {
  --tw-bg-opacity: 1;
  background-color: rgba(1, 25, 41, var(--tw-bg-opacity));
  color: #ffffff;
  /* Replace with dark mode text color */
}

.circular-progress {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.circular-progress-background {
  fill: transparent;
  stroke: #000;
}

.circular-progress-circle {
  fill: transparent;
  stroke: #f97316;
  /* Orange color for progress bar */
  transition: stroke-dashoffset 0.3s;
}

.arrow-up {
  width: 0.75rem;
  height: 0.75rem;
  transform: translateY(-1px);
}

.circular-progress-container {
  position: fixed;
  bottom: -80px;
  /* Initial position off the screen */
  right: 20px;
  transition: bottom 0.3s;
  z-index: 999;
}

.circular-progress-container.visible {
  bottom: 60px;
  /* Move up to the desired position when visible */
}


.home-cover {
  background-image: url("/banners/home-banner.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* Adjust as needed */
}

.service-cover {
  background-image: url("/banners/service-banner.webp");
  background-size: cover;
  background-position: center;
  height: 60vh;
  /* Adjust as needed */
}

.blog-cover {
  background-image: url("/banners/blog-banner.jpg");
  background-size: cover;
  background-position: center;
  height: 45vh;
  /* Adjust as needed */
}